.main{
    display: flex;
    justify-content: center; 
    align-content: center; 
    align-items: center;
}

.div{
    display: flex;
    justify-content: center; 
    align-content: center; 
    align-items: center;
    flex-direction: column;

}

.texto{
    font-size: 30px;
}

.input{
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center; 
    align-content: center; 
    align-items: center;
    flex-direction: column;
}