.coisas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coisas button{
    background-color: black;

}

.imagem{
    width: 800px;
}
.main{
    display: flex;
    margin-top: 40px;
    align-items: center;
}
.spins{
    background-color: aqua;
    height: 20px;
    
    text-align: center;
    overflow: hidden;
    position: fixed;
}
.spins2{
    background-color: aqua;
    width: 150px;
    height: 20px;
    text-align: center;
    overflow: hidden;
    position: fixed;
}
.spins2 p{
    position: relative;
    top: 20px;
    
    

}
.divloca{
    height: 100vh;
}

.divloca button{
    color: black;
    margin: 30px;
}
.spins p{
    position: relative;
    
    top: -356px;
    transition: 10s;

    
}
@media (max-width: 768px) {
    .main{
        display: flex;
        margin-top: 40px;
        flex-direction: column;
    }
.imagem{
    width: 400px;
    height: 400px;
    transform: scale(500px);
}
  }