.coisas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coisas button{
    background-color: black;

}

.imagem{
    width: 800px;
}
.main{
    display: flex;
    margin-top: 40px;
    align-items: center;
}
.spins{
    background-color: rgb(0, 0, 0);
    height: 20px;
    
    
    text-align: center;
    overflow: hidden;
}
.spins2{
    background-color: rgb(0, 0, 0);
    transition: none;
    height: 20px;
    width: 150px;
    text-align: center;
    overflow: hidden;
}
.spins2 p{
    top: 100%;
    font-size: 1.0416rem;
    font-family: 'Arial', sans-serif;
    
    

}
.divloca{
    height: 100vh;
}
.divSpins{
    overflow: hidden;
}

.divSpins button{
    color: black;
    margin: 30px;
}
.spins p{
    position: relative;
    font-size: 1.0416rem;
    
    font-family: 'Arial', sans-serif;
    
    top: -1775%;
    transition: 10s;

    
}
@media (max-width: 768px) {
    .main{
        display: flex;
        margin-top: 40px;
        flex-direction: column;
    }
.imagem{
    width: 400px;
    height: 400px;
    transform: scale(500px);
}
  }